<div class="table-responsive">

     <button type="button" (click)="change1()">Change 1</button>

     <button type="button" (click)="change2()">Change 2</button>

    <table class="table table-hover table-striped align-middle mb-0">

        <thead class="table-light">
            <tr>
                <th>ID</th>
                  <th>Name</th>
                   <th>Gender</th>
                     <th>DOB</th>
                     <th>Subjects</th>
                     <th>IsActive</th>
            </tr>
        </thead>

        <tbody>
            @for (item of teacherList; track $index) {
            <tr>
                   <td>{{item.id}}</td>
                    <td>{{item.firstName | fullName: item.lastName : item.gender}}</td>
                    <td>
                     {{item.gender | genderName}}
                    </td>
                     <td>{{item.dob}}</td>
                     <td>{{item.subjects | keyValue: subjects}}</td>
                      <td>{{item.isActive}}</td>
                   <td>
                  
                 </td>
            </tr>
            }
        </tbody>
    </table>
</div>

