<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">

        <div class="col-lg-4 col-md-6 col-sm-10">

            <div class="card shadow-lg border-0 rounded-4">

                <div class="card-body p-5">

                    <div class="text-center mb-4">
                        <i class="bi bi-person-circle display-3 text-primary"></i>
                        <h2 class="mt-3 fw-bold">Welcome Back</h2>
                        <p class="text-muted">
                            Sign in to continue
                        </p>
                    </div>

                    <form #userForm="ngForm"   (submit)="Submit(userForm)">
                         <div class="mb-3 red" #messageEle>
                            {{message}}
                         </div>
                        <!-- Email -->
                        <div class="mb-3">
                            <label class="form-label fw-semibold" for="userId">
                                Email Address
                            </label>

                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-envelope"></i>
                                </span>

                                <input
                                    type="text"
                                    id="userId"
                                     [(ngModel)]="user.userid"
                                      name="userid"
                                      required
                                      minlength="4"
                                      #UserIdEle="ngModel"
                                     /* [ngModelOptions]="{standalone: true}" */
                                    /* #UserIdElement
                                    (input)="changeText()" */
                                

                                    class="form-control"
                                    placeholder="Enter email/UserName">
                            </div>
                            @if (UserIdEle.invalid)
                            {
                                 @if(UserIdEle.errors!['required'] && (UserIdEle.dirty || showMessage)){
                                         <span class="red"> User Name is required</span>
                                }

                                 @if(UserIdEle.errors!['minlength']){
                                        <span class="red"> User Name length should be 5 charcter long</span>
                                }

                            }
                        </div>

                        <!-- Password -->
                        <div class="mb-3">
                            <label class="form-label fw-semibold">
                                Password
                            </label>

                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="bi bi-lock"></i>
                                </span>

                                <input
                                    type="password"
                                    id="passwordId"
                                     /* #passwordElement
                                    (input)="changeText()" */
                                     [(ngModel)]="user.password"
                                     name="password"
                                     required
                                    #passwordEle="ngModel"
                                    class="form-control"
                                    placeholder="Enter password">

                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="bi bi-eye"></i>
                                </button>
                            </div>
                             @if (passwordEle.invalid && (passwordEle.dirty || showMessage) ) {

                                @if(passwordEle.errors!['required']){
                                         <span class="red"> Password is required</span>
                                }

                                 @if(passwordEle.errors!['minlength']){
                                        <span class="red"> Password length should be 5 charcter long</span>
                                }
                               
                            }
                        </div>

                        <!-- Remember -->
                        <div class="d-flex justify-content-between align-items-center mb-4">

                            <div class="form-check">
                                <input
                                    class="form-check-input"
                                    type="checkbox"
                                    id="remember">

                                <label class="form-check-label" for="remember">
                                    Remember Me
                                </label>
                            </div>

                            <a href="#" class="text-decoration-none">
                                Forgot Password?
                            </a>

                        </div>

                        <!-- Login Button -->
                        <div class="d-grid">
                            <button class="btn btn-primary btn-lg"  type="submit">
                                <i class="bi bi-box-arrow-in-right me-2"></i>
                                Login
                            </button>
                            <br/>
                            <button class="btn btn-primary btn-lg" type="button" 
                            (click)="removeValidation(userForm)">
                                <i class="bi bi-box-arrow-in-right me-2"></i>
                                Remove
                            </button>
                             <br/>
                            <button class="btn btn-primary btn-lg" type="button"
                            (click)="addValidation(userForm)">
                                <i class="bi bi-box-arrow-in-right me-2"></i>
                                Add
                            </button>
                            <br/>
                        </div>

                    </form>

                    <hr class="my-4">

                    <div class="text-center">
                        <span class="text-muted">
                            Don't have an account?
                        </span>

                        <a href="#" class="text-decoration-none fw-semibold">
                            Register
                        </a>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>
