 <div class="table-responsive">

                <table class="table table-hover table-striped align-middle mb-0">

                    <thead class="table-light">
                        <tr>
                           @for (item of columnList; track $index) {
                                    <th (click)="sortData(item.columnName)">{{item.displayName}}</th>
                            }
                            <th width="180">Actions</th>
                        </tr>
                    </thead>

                    <tbody>

                        @for (item of users; track item.id) {
                        <tr>
                            <td>{{item.id}}</td>
                            <td  [innerHTML]="item.firstName + ' ' + item.lastName"></td>
                            <td>
                                <span class="badge "  [class.bg-secondary]="item.age< 30" 
                                    [class.bg-primary]="item.age>=30 && item.age < 40" 
                                    [class.bg-success]="item.age>=40"
                                     [textContent]="item.age">
                                </span>
                            </td>
                            <td>
                                <button class="btn btn-sm btn-outline-info">
                                    <i class="bi bi-eye"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-warning">
                                    <i class="bi bi-pencil"></i>
                                </button>

                                <button class="btn btn-sm btn-outline-danger">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </td>
                        </tr>

                        }
                    </tbody>
                </table>
            </div>