
           
            <input type="text" stuValidateAge [value]="age" />

            <stu-quick-grid [columnList]="columnList" (actionCLickEvent)="eve($event)"
            [actionColumnList]="actionColumnList" [data]="users()"></stu-quick-grid>

           
            @if(isShowEditPopup)
            {
            <stu-quick-popup [message]="message" [isShowFooter]=false (closeEvent)="close()">
              <div title >Student Edit</div>
                <stu-student-edit content [data]="studentRow"></stu-student-edit>
            </stu-quick-popup>
            }

            @if(isShowDeletePopup)
            {
              <stu-quick-popup [message]="message" (closeEvent)="closeDelete()">
                
              </stu-quick-popup>
            }

         