

            <stu-quick-grid [columnList]="columnList" (actionCLickEvent)="eve($event)"
            [actionColumnList]="actionColumnList" [data]="users()"></stu-quick-grid>

           
            @if(isShowEditPopup)
            {
            <stu-quick-popup [message]="message" (closeEvent)="close()">
                <stu-student-edit></stu-student-edit>
            </stu-quick-popup>
            }

            @if(isShowDeletePopup)
            {
              <stu-quick-popup [message]="message" (closeEvent)="closeDelete()">
                
              </stu-quick-popup>
            }

         